user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.--><xs:schema version="1.0" targetNamespace="http://services.jets.iti.gov/" xmlns:tns="http://services.jets.iti.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addUser" type="tns:addUser"/>
  <xs:element name="addUserResponse" type="tns:addUserResponse"/>
  <xs:element name="checkEmail" type="tns:checkEmail"/>
  <xs:element name="checkEmailResponse" type="tns:checkEmailResponse"/>
  <xs:element name="getUser" type="tns:getUser"/>
  <xs:element name="getUserResponse" type="tns:getUserResponse"/>
  <xs:element name="getUsers" type="tns:getUsers"/>
  <xs:element name="getUsersResponse" type="tns:getUsersResponse"/>
  <xs:element name="login" type="tns:login"/>
  <xs:element name="loginResponse" type="tns:loginResponse"/>
  <xs:element name="removeUser" type="tns:removeUser"/>
  <xs:element name="removeUserResponse" type="tns:removeUserResponse"/>
  <xs:element name="updateUser" type="tns:updateUser"/>
  <xs:element name="updateUserResponse" type="tns:updateUserResponse"/>
  <xs:element name="userDto" type="tns:userDto"/>
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:userDto" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDto">
    <xs:sequence>
      <xs:element name="birthDate" type="tns:localDate" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
      <xs:element name="detailedAddress" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="userName" type="xs:string" minOccurs="0"/>
      <xs:element name="userType" type="tns:userType" minOccurs="0"/>
      <xs:element name="wallet" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="checkEmail">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkEmailResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element name="arg0" type="tns:userDto" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeUser">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUsers">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getUsersResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="birthDate" type="tns:localDate" minOccurs="0"/>
      <xs:element name="cartProductsList" type="tns:cartProducts" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
      <xs:element name="detailedAddress" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="orderList" type="tns:order" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="userName" type="xs:string" minOccurs="0"/>
      <xs:element name="userType" type="tns:userType" minOccurs="0"/>
      <xs:element name="uuid" type="xs:string" minOccurs="0"/>
      <xs:element name="wallet" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cartProducts">
    <xs:sequence>
      <xs:element name="cartId" type="tns:cartId" minOccurs="0"/>
      <xs:element name="product" type="tns:product" minOccurs="0"/>
      <xs:element name="quantity" type="xs:int"/>
      <xs:element name="totalPrice" type="xs:int"/>
      <xs:element name="user" type="tns:user" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cartId">
    <xs:sequence>
      <xs:element name="productId" type="xs:int"/>
      <xs:element name="userId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="product">
    <xs:sequence>
      <xs:element name="cartProductsList" type="tns:cartProducts" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="price" type="xs:double"/>
      <xs:element name="quantity" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="order">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="lineItemList" type="tns:lineItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="orderTime" type="tns:localDate" minOccurs="0"/>
      <xs:element name="totalPrice" type="xs:double"/>
      <xs:element name="user" type="tns:user" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineItem">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="order" type="tns:order" minOccurs="0"/>
      <xs:element name="productName" type="xs:string" minOccurs="0"/>
      <xs:element name="productPrice" type="xs:double"/>
      <xs:element name="productQuantity" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUser">
    <xs:sequence>
      <xs:element name="arg0" type="tns:userDto" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUser">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:user" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="userType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENT"/>
      <xs:enumeration value="ADMIN"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>