user.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.--><!--Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.--><definitions targetNamespace="http://services.jets.iti.gov/" xmlns:tns="http://services.jets.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.jets.iti.gov/" schemaLocation="user.xsd"/>
    </xsd:schema>
  </types>
  <message name="getUsers">
    <part name="parameters" element="tns:getUsers"/>
  </message>
  <message name="getUsersResponse">
    <part name="parameters" element="tns:getUsersResponse"/>
  </message>
  <message name="login">
    <part name="parameters" element="tns:login"/>
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse"/>
  </message>
  <message name="removeUser">
    <part name="parameters" element="tns:removeUser"/>
  </message>
  <message name="removeUserResponse">
    <part name="parameters" element="tns:removeUserResponse"/>
  </message>
  <message name="updateUser">
    <part name="parameters" element="tns:updateUser"/>
  </message>
  <message name="updateUserResponse">
    <part name="parameters" element="tns:updateUserResponse"/>
  </message>
  <message name="addUser">
    <part name="parameters" element="tns:addUser"/>
  </message>
  <message name="addUserResponse">
    <part name="parameters" element="tns:addUserResponse"/>
  </message>
  <message name="getUser">
    <part name="parameters" element="tns:getUser"/>
  </message>
  <message name="getUserResponse">
    <part name="parameters" element="tns:getUserResponse"/>
  </message>
  <message name="checkEmail">
    <part name="parameters" element="tns:checkEmail"/>
  </message>
  <message name="checkEmailResponse">
    <part name="parameters" element="tns:checkEmailResponse"/>
  </message>
  <portType name="UserService">
    <operation name="getUsers">
      <input ns1:Action="http://services.jets.iti.gov/UserService/getUsersRequest" message="tns:getUsers" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://services.jets.iti.gov/UserService/getUsersResponse" message="tns:getUsersResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="login">
      <input ns3:Action="http://services.jets.iti.gov/UserService/loginRequest" message="tns:login" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://services.jets.iti.gov/UserService/loginResponse" message="tns:loginResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeUser">
      <input ns5:Action="http://services.jets.iti.gov/UserService/removeUserRequest" message="tns:removeUser" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://services.jets.iti.gov/UserService/removeUserResponse" message="tns:removeUserResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateUser">
      <input ns7:Action="http://services.jets.iti.gov/UserService/updateUserRequest" message="tns:updateUser" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://services.jets.iti.gov/UserService/updateUserResponse" message="tns:updateUserResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addUser">
      <input ns9:Action="http://services.jets.iti.gov/UserService/addUserRequest" message="tns:addUser" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://services.jets.iti.gov/UserService/addUserResponse" message="tns:addUserResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getUser">
      <input ns11:Action="http://services.jets.iti.gov/UserService/getUserRequest" message="tns:getUser" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://services.jets.iti.gov/UserService/getUserResponse" message="tns:getUserResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="checkEmail">
      <input ns13:Action="http://services.jets.iti.gov/UserService/checkEmailRequest" message="tns:checkEmail" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="http://services.jets.iti.gov/UserService/checkEmailResponse" message="tns:checkEmailResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>